<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTfW1nULgdsVc2JkHe4Xood6sZFcUfw1I</string>
	<key>GCM_SENDER_ID</key>
	<string>833586836782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huang.SimpleTodo</string>
	<key>PROJECT_ID</key>
	<string>todolist-f8e25</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-f8e25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833586836782:ios:0a970a113bcd528a5676bf</string>
</dict>
</plist>